@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

/*--- Global --*/

html { 
    scroll-behavior: smooth; 
}

body {
    font-family: 'Lato', sans-serif;
    color: rgb(175, 175, 175);
    background-color: rgb(26, 30, 41);
}

.heading {
    font-size: 2rem;
    padding: 1rem;
    border-bottom: 1px solid rgb(21, 24, 32);
    box-shadow: inset 0 5px 10px rgba(0,0,0,.39), 0 -1px 1px rgb(36, 41, 56), 0 1px 0 rgb(36, 41, 56);
}

.margin {
    margin-top: 2rem;
}

.sunken {
    background-color: rgb(36, 42, 56);
    border-bottom: 1px solid rgb(21, 24, 32);
    box-shadow: inset 0 5px 10px rgba(0,0,0,.39), 0 -1px 1px rgb(36, 41, 56), 0 1px 0 rgb(36, 41, 56);
    padding: 1rem;
    height: 100%;
}

.container-fluid {
    padding: 3.5rem 3.5rem 1rem;
}

.offset:before{
    display: block;
    content: "";
    height: 2rem;
    margin-top: -2rem;
}

/*--- Navigation --*/

.navbar {
    font-weight: 1000;
    background-color: rgba(0,0,0,0.75)!important;
    padding: 0;
}

.navbar-brand p {
    font-size: 1rem;
    margin: 0;
    margin: 0.5rem;
}

/*--- Landing Page Section --*/

.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    z-index: -1;
}
.home-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home-inner {
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
    background-image: url(../img/background.jpg);
}

.caption {
    width: 100%;
    position: absolute;
    top: 50%;
    color: white;
    font-weight: bold;
    text-shadow: .1rem .1rem .1rem black;
}

/*--- Overview Section --*/

#overview img {
    width: 100%;
}

#overview p {
    font-size: larger;
}

/*--- The Planets Section --*/

#planets img {
    width:100%;
    padding: 1rem;
}

/*--- Dwarf Planets Section --*/

#dwarf img {
    width: 100%;
}

/*--- Explore Section --*/

#more img {
    width: 100%;
}

#more p {
    font-size: larger;
}

/*---  Contact Section --*/

#contact .container-fluid {
    background-image: url(../img/background2.jpg);
    background-size: cover;
    margin-top: 3.5rem;
    padding: 0 1rem 1rem 1rem;
}

#contact h5{
    margin-top: 2rem;
}

.line {
    width: 60%;
    border-bottom: 1px solid rgb(33, 38, 51);
    box-shadow: inset 0 5px 5px rgba(24, 28, 37, 0.39);
}

.socket {
    width: 100%;
    border-bottom: 1px solid rgb(33, 38, 51);
    box-shadow: inset 0 5px 5px rgba(24, 28, 37, 0.39);
    margin-top: 2rem;
}

/*--- Media Queries --*/

@media(max-width: 767px){
    .caption h1 {
        font-size: 2rem;
        padding: 0 1rem 0 1rem;
    }
    #explore h3 {
        font-size: 1.5rem;
    }
    #explore .btn{
        font-size: 1rem;
    }
}

@media(max-width: 992px){
    .navbar {
        font-size: 0.8rem;
    }
}









